body {
  text-align: center;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body a {
  font-size: 16px;
  color:aquamarine;
}
header h1 {
  font-weight: normal;
  color:white;
}

#maintext h1{
  font-size: 42px;
  font-weight: 300;
}

#maintext p {
  font-size: 21px;
  color: gray;
}

#image img {
  width: 56em;
  height: 35em;
}

#phoneicon img {
  padding-top: 2%;
}

#link {
  padding-bottom: 2%;
}

footer {
  text-align:right;
  color:gray;
}